#index-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#index-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#index-menu-0 .mbr-navbar__section {
  background: #404040;
}
#index-menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}
#index-menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#index-header4-0 H1 {
  font-size: 100px;
}
#index-header4-0 P {
  font-size: 36px;
}
#index-header3-0 P {
  text-align: center;
  font-size: 32px;
  color: #515151;
}
#index-header3-0 H3 {
  text-align: center;
  font-size: 84px;
  color: #252525;
}
#page1-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#page1-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#page1-menu-0 .mbr-navbar__section {
  background: #404040;
}
#page1-menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}
#page1-menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#Onze_kerk-content5-0 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#Onze_kerk-content5-0 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#Onze_kerk-content5-0 .mbr-article {
  color: #fff;
}
#page2-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#page2-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#page2-menu-0 .mbr-navbar__section {
  background: #404040;
}
#page2-menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}
#page2-menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#Onze_jeugd-msg-box4-0 .mbr-header__text {
  color: #505050;
  font-size: 100px;
  text-align: center;
}
#Onze_jeugd-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#Onze_jeugd-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#Onze_jeugd-msg-box4-0 .mbr-article P {
  color: #505050;
  text-align: center;
}
#page3-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#page3-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#page3-menu-0 .mbr-navbar__section {
  background: #404040;
}
#page3-menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}
#page3-menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
#page4-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#page4-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #404040;
}
#page4-menu-0 .mbr-navbar__section {
  background: #404040;
}
#page4-menu-0 .mbr-navbar__hamburger {
  color: #efefef;
}
#page4-menu-0 .mbr-navbar__items a {
  font-size: 14px;
}
